[workspace]
name = "humble"
description = "Development environment for RoboStack ROS packages"
channels = ["https://prefix.dev/conda-forge"]
platforms = ["linux-64"]

# This will automatically activate the ros workspace on activation
[target.unix.activation]
# For activation scripts, we use bash for Unix-like systems
scripts = ["scripts/setup.bash"]

# To build you can use - `pixi run build`
[feature.build.target.unix.tasks]
build-deps = "bash scripts/build-deps.sh"
check-deps = "bash scripts/check-deps.sh"
build = "bash scripts/build.sh"
build-ros = "bash scripts/build-ros.sh"
dataset = "bash scripts/dataset.sh"
check = "bash scripts/check.sh"
check-ros = "bash scripts/check-ros.sh"
check-dataset = "bash scripts/check-dataset.sh"
test-aist = "bash scripts/test-aist.sh"
test-uzh = "bash scripts/test-uzh.sh"
clean = "bash scripts/clean.sh"
clean-libs = "bash scripts/clean_env.sh"
link-opencv = { cmd = "bash scripts/link_opencv.sh", depends-on = ["clean-libs"] }

# Dependencies used by all environments
[dependencies]
python = "*"
# Build tools
compilers = "*"
cmake = "*"
pkg-config = "*"
make = "*"
ninja = "*"
# ROS specific tools
rosdep = "*"
colcon-common-extensions = "*"
gdown = "*"
xorg-libxrandr = ">=1.5.5,<2"
xorg-libxinerama = ">=1.1.6,<2"
xorg-libxcursor = ">=1.2.3,<2"
xorg-libxi = ">=1.8.2,<2"
xorg-libxext = ">=1.3.7,<2"
xorg-libxfixes = ">=6.0.2,<7"

[target.linux.dependencies]
libgl-devel = "*"
libgl = "*"
libegl = "*"
libegl-devel = "*"
epoxy = "*"

# Define all the different ROS environments
# Each environment corresponds to a different ROS distribution
# and can be activated using the `pixi run/shell -e <environment>` command.
[environments]
default = { features = ["humble", "build"] }

### ROS Humble ####
[feature.humble]
channels = ["https://prefix.dev/robostack-humble"]

[feature.humble.dependencies]
ros-humble-desktop = "*"
ros-humble-image-publisher = "*"

# System Dependencies for Stella VSLAM & Viewers
glm = "*"
glfw = "*"
libpng = "*"
libjpeg-turbo = "*"
eigen = "*"
g2o = "*"
boost-cpp = "*"
glew = "*"
protobuf = "*"
nlohmann_json = "*"
inja = "*"
#libopencv = "*"
glog = "*"
gflags = "*"
yaml-cpp = "*"
sqlite = "*"
openssl = "*"
xorg-libx11 = "*"
xorg-libxrandr = "*"
xorg-libxinerama = "*"
xorg-libxcursor = "*"
xorg-libxi = "*"
xorg-libxext = "*"
xorg-libxfixes = "*"

# Build Tools
compilers = "*"
cmake = "*"
make = "*"
pkg-config = "*"
